.text-input {
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em 2em;
}

.text-input input {
	border: none;
	border-bottom: 1px solid dodgerblue;
}

.text-input input:focus {
	outline: none;
}
